
body{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #ae0eb4 0%, #713e9e 50%, #a30ca8 100%);
    
}


.head{
    text-align: center;
    font-family:cursive;
   
    
}
.text1{
    color: rgb(230, 227, 227);
}
.text{
  
   
    color: rgb(221, 202, 202);
}
.thank-you{
   
    border-bottom: 2px solid silver;
 
}
.text span{
    color: black;
}
.image{
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    height: auto;
    width: 550px;
    align-items: center;
    border: 2px solid none;
    border-radius: 8px;
    
}
.imgs{
    border: none;
    border-radius: 20px;
}

.base5{
    padding: auto auto;
	width: 350px;
	height: 400px;
    border: none;
    border-radius: 15px;
	background: url(img/6.jpg);
    background-repeat: no-repeat;
    background-size: 350px 400px;;

}
#box5{
	width: 350px;
	height: 400px;
    border: none;
    border-radius: 15px;
	background: url(img/1.jpg);
    background-repeat: no-repeat;
    background-size: 350px 400px;;
		transition: transform 2s;
	
	
}
#box5:hover, #box5:active{
	transform: perspective(500px) rotateX(360deg) translate(350px);
}


/* 
social links */

.fa {  
    padding: 20px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
    text-decoration: none;
    border-radius: 10px;
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }  

  .fa-instagram {  
    background: #125688;  
    color: white;  
  }  